/* data tables*/
.dataTables_filter {float: left;width: 30%;background: #f4f4f4;margin-bottom: 10px;min-height: 59px;}
.dataTables_filter label {padding: 10px;margin: 0;}
.dataTables_filter input {width: auto;display: inline-block;margin: 0;}
.dataTables_wrapper .toolbar {float: left;width: 30%;background: #f4f4f4;margin-bottom: 10px;min-height: 59px;}
.dataTables_wrapper .toolbar label {padding: 10px;margin: 0;}
.dataTables_wrapper .toolbar select {width: auto;margin: 0;}
.dataTables_length {float: left;width: 40%;text-align: right;background: #f4f4f4;margin-bottom: 10px;min-height: 59px;}
.dataTables_length label {padding: 10px;margin: 0;}
.dataTables_length select {width: auto;margin: 0;}
.dataTables_info {font-size: .875em;color: #999;text-align: right;}
.dataTables_paginate {height: 1.5em;text-align: center;margin: 20px auto;}
.dataTables_paginate a {display: block;padding: 6px;color: #999;float: left;font-size: .875em;margin-left: .3125em;cursor: pointer;}
.dataTables_paginate a.paginate_active {background: #428bca;color: white;font-weight: bold;cursor: default;}

/* Helper classes */
.algLeft {text-align: left;}
.algRight {text-align: right;}
.algCenter {text-align: center;}
.id {text-align: center; width: 10%;}
.acoes {text-align: center; width: 15%;}
.valores{text-align: right; width: 10%;}
.valorReceita {color: #18bc9c;}
.valorReceita:before {
    content: "+ "
}
.valorDespesa {color: #e74c3c;}
.valorDespesa:before {
    content: "- "
}
.filtro-caixa {
    text-transform: lowercase;
}

.admin_estatisticas_contas_caixa {
    width: 261px;
    float: right;
}

.admin_estatisticas_contas_caixa_linha {
    width: 100%;
    font-size: 15px;
    float: left;
    line-height: 21px;
    text-align: right;
    margin-top: 4px;
}

.admin_estatisticas_contas_caixa_linha_titulo {
    color: #A7A7A7;
    font-size: 11px;
    float: left;
    width: 100px;
    text-align: left;
}

.admin_estatisticas_contas_caixa_linha_valor {
    float: left;
    width: 160px;
    text-align: right;
}

.admin_estatisticas_contas_caixa_linha_de {
    float: left;
    width: 260px;
    text-align: right;
    color: #A7A7A7;
    font-size: 9px;
    line-height: 10px;
}

.admin_estatisticas_contas_caixa_linha_total {
    font-size: 31px;
    line-height: 35px;
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    margin-top: 10px;
}

.admin_estatisticas_contas_caixa_linha_total_texto {
    color: #A7A7A7;
    font-size: 11px;
    text-align: right;
    line-height: 12px;
    margin-top: 0px;
}

.fonte_verde {
    color: #288528;
}

.fonte_vermelho {
    color: #D33C3C;
}

.fonte_azul {
    color: #57A6C5;
}

.parcelamento {
    display: none;
}

.error {
    color: #D33c4c;
    display: block;
    margin:0;
}
